@charset "UTF-8";

header{
    font-family:'Open Sans', sans-serif;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
}

.column{
    float: left;
    width: 48%;
    padding-left: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.bg{
    background-image: url("IMG_9990.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    height: 650px;
}

.welcome_text{
    text-align: center;
    font-size: 60px;
    padding: 20px;
}

nav {
    text-align: right;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}

nav a, a:hover{
    color: white;
    text-decoration: none;
}

body{
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin: 0px;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 32px;
    margin: 10px;
}

p{
    font-size: 20px;
    padding: 10px;
}

.AM_pic_column{
    float: left;
    width: 33vw;
}

.AM_pic_column img{
    border-radius: 100px;
    max-width: 100%;
    height: 350px;
    padding:10px;
}

.AM_column{
    float: right;
    width: 63vw;
}

.AM_row:after{
    content: "";
    display: table;
    clear: both;
}

.photo_gallery img{
    
    width: 30vw;
    max-height: 45vh;
}

.resume_column{
    width: 50%;
    float: left;
}

.project_column{
    float: right;
    width: 50%;
}

.resume_projects_row:after{
    content: "";
    display: table;
    clear: both;
}

.button {
  background-color: #0b4a57;
  border: none;
  color: white;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
  width: 70%;
  height: 100%;
}

.project_list a{
    font-size: 20px;
    color: black;
}

.project_list ul{
    list-style: none;
}

.container{
    position: absolute;
    width: 100%;
    text-align: center;
}
.contact_me{
    width:210px;
    height: 140px;
    display: inline-block;
    background: #7edcd5;
    margin: 10px;
    position: relative;
    cursor: pointer;
}
.contact_me i{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 40px;
    line-height: 140px;
    background: #0b4a57;
    z-index: 1;
    transition: transform .5s;
    color: white;
}
.contact_me span{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px 0;
    color: black;
    font-size: 14px;
    
}
.contact_me:hover i{
    transform: translateY(-30px);
}
.contact_me a, a:active, a:hover{
    color: black;
}

